 .cbody{
    margin:0;
    background-color:#cc636c;
}

#myhead{
    margin-right:1px;
    margin-left:0.5px;
}


.myNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}


.libar {
    float: left;
}

.libar .abar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.libar .abar:hover {
    background-color: #820000;
    color: white;
}

.libar:first-child {
}

#footer {
  position:static;
 /* right: 0;
  left: 0;
  bottom: 0; 
  padding: 1rem; */
  background-color: #000000;
  text-align: center;
}


.active {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #820000;
    color: white;
}

.active:hover{
    background-color: #820000;
    color: white;
}

.ul1 {
    float:left;
    width: 50%;
}

.ul2 {
    float:right;
    width: 50%;
}

.ul1mainp{
    color: #ffc700;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.ul2mainp{
    color: #ffc700;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.ul2ps{
    color: #ffffff;
    text-align: center;
}

.ul1ps{
    color: #ffffff;
    text-align: center;
}

.ulnav {
    background-color: transparent;
    list-style-type: none;
    padding-top: 30%;
}

.linav .anav {
    display: block;
    color: #ffc700;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.linav .anav:hover {
    background-color:transparent;
    color: #ffc700;
    font-weight: bold;
}

.pbasket {
  position: absolute;
  left:100px;
  top:200px;
  font-size: 30px;
  color:white;
}

.linav .anavc {
    display: block;
    color: #ffc700;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

/* Change the link color on hover */
.linav .anavc:hover {
    background-color:transparent;
    color: #ffc700;
    font-weight: bold;
}

.thumbnail {
    background-color:transparent !important;
    padding-top: 10px !important;
    margin-right:0.5px;
    margin-left:0.5px;
}

.thumbdiv {
    padding-top: 20px !important;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */

#popupq {
    font-size: 15px;
    font-weight: bold;
}
#popupq #myPopupq::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupq .showq {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Popup arrow */

#popupw {
    font-size: 15px;
    font-weight: bold;
}
#popupw #myPopupw::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupw .showw {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupe {
    font-size: 15px;
    font-weight: bold;
}
#popupe #myPopupe::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupe .showe {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupr {
    font-size: 15px;
    font-weight: bold;
}
#popupr #myPopupr::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupr .showr {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupt {
    font-size: 15px;
    font-weight: bold;
}
#popupt #myPopupt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupt .showt {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupy {
    font-size: 15px;
    font-weight: bold;
}
#popupy #myPopupy::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupy .showy {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupu {
    font-size: 15px;
    font-weight: bold;
}
#popupu #myPopupu::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupu .showu {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupi {
    font-size: 15px;
    font-weight: bold;
}
#popupi #myPopupi::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupi .showi {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupo {
    font-size: 15px;
    font-weight: bold;
}
#popupo #myPopupo::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupo .showo {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupp {
    font-size: 15px;
    font-weight: bold;
}
#popupp #myPopupp::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupp .showp {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupa {
    font-size: 15px;
    font-weight: bold;
}
#popupa #myPopupa::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupa .showa {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popups {
    font-size: 15px;
    font-weight: bold;
}
#popups #myPopups::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popups .shows {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupd {
    font-size: 15px;
    font-weight: bold;
}
#popupd #myPopupd::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupd .showd {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupf {
    font-size: 15px;
    font-weight: bold;
}
#popupf #myPopupf::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupf .showf {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupg {
    font-size: 15px;
    font-weight: bold;
}
#popupg #myPopupg::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupg .showg {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popuph {
    font-size: 15px;
    font-weight: bold;
}
#popuph #myPopuph::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popuph .showh {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupj {
    font-size: 15px;
    font-weight: bold;
}
#popupj #myPopupj::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupj .showj {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupk {
    font-size: 15px;
    font-weight: bold;
}
#popupk #myPopupk::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupk .showk {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupl {
    font-size: 15px;
    font-weight: bold;
}
#popupl #myPopupl::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupl .showl {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupz {
    font-size: 15px;
    font-weight: bold;
}
#popupz #myPopupz::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupz .showz {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Popup arrow */

#popupx {
    font-size: 15px;
    font-weight: bold;
}
#popupx #myPopupx::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupx .showx {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
