body, html {
  height: 100%;
}

body {
  font-weight: 100;
}


::placeholder { 
    color: white;
    opacity: 0.7; 
    font-style: italic;
}


.grandParentContaniner{
   position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
  }




.signup-form {


  padding: .5rem;

  background: #ffc700;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 280px;
  width: 370px;
  text-align: center;

}

.login-form {


  padding: .5rem;

  background: #ffc700;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 230px;
  width: 370px;
  text-align: center;

}




.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: black;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 50px);
}
.login-username:focus, .login-password:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}


.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 12px;
  padding: .25rem;
  transition: 250ms background ease-in;
}
.login-submit:hover, .login-submit:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

    button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:0.9;
}



.save {
  width: 100%;
}

.sign {
    padding: 14px 20px;
    background-color: #f44336;
    color: white;
}

.sign, .log {
  float: left;
  width: 50%;
}


